@use '../util' as u;

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: u.rem(40);
  // max-width: 1000px; // to prevent super wide content for really big screens
  width: min(100% - u.rem(40), u.rem(1000)); // smaller screen add padding of 20px on each side and bigger screen width = 1000px with 0 padding
  margin-inline: auto;

  @include u.breakpoint(large) {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
  }

  &__main,
  &__sidebar {
    padding: u.rem(40);
  }

  &__main {
    background-color: hsl(240, 99%, 33%);
  }

  &__sidebar {

    // For Sytle rules we only want on Mobile, NOT Desktop
    @include u.breakpoint-down(medium) {
      text-align: center;
    }
  }

  &__widget {
    padding: u.rem(16);
  }

}